@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
    main {
        width: 100%;
    }
    .image-part .button-left {
        width: 90px;
        padding-left: 10px;
    }
    header .heading {
        padding-top: 150px;
    }
    .image-part .button-right {
        width: 90px;
        padding-right: 10px;
    }
    header .heading {
        padding-left: 0%;
    }
    .about .text-part {
        width: 90%;
        display: inline;
        margin: 20px;
        position: absolute;
    }
    .about .image-part {
        width: 90%;
        margin-top: 300px;
        display: block;
        text-align: center;
    }
.events .event {
    display: inline-block;
    width: 380px;
    height: 430px;
    margin-right: 2%;
    border: 1px solid rgba(0, 0, 0, 0.11);
    text-align: justify;
    padding-bottom: 40px;
    margin-bottom: 40px;
}
}
